:root {
    --primary-color: #d62828;
    --secondary-color: #f77f00;
    --background-color: #fcbf49;
    --input-background-color: #eae2b7;
    --hover-color: #314e9e;
    --font-luckiest: "Luckiest Guy", cursive;
    --font-kanit: "Kanit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
section h2,
section h3,
form button {
    font-family: var(--font-luckiest);
    font-weight: 400;
    font-style: normal;
}

section h2 {
    display: block;
}

body {
    background-color: var(--background-color);
    background-image: url(./images/Fundo\ de\ cerveja\ lager\ _\ Vetor\ Premium.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input, textarea {
    background-color: var(--input-background-color);
}

body, input, textarea {
    font-family: var(--font-kanit);
    font-weight: 400;
    font-style: normal;
}

header {
    padding: 16px 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 240px;
    display: inline-flex;
    margin: 0 auto;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: var(--primary-color);
}

section p {
    margin-bottom: 32px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content:space-between ;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none ;
    cursor: pointer;
}

form button:hover {
    background-color: var(--hover-color);
}

input:focus, textarea:focus {
    outline-color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 16px 0;
}

.brands-list {
    display: flex;
    justify-content: space-around; /* ou space-between */
    list-style: none; /* Remove os marcadores da lista */
    margin-bottom: 25px;
    padding: 8px;
}

.brands-list li {
    text-align: center; /* Centraliza a imagem dentro do item da lista */
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 20px;
    }

    header .container,
    section .container {
        display: block;
    }

    header nav {
        margin-top: 16px;
    }

    header nav li {
        display: block;
        margin-left: 0;
        margin-bottom: 8px;
    }

    .brands-list {
        display: block;
    }

    .brands-list li {
        display: block;
        margin-bottom: 16px;
    }

    .contact-methods {
        display: block;
    }

    form input,
    form textarea,
    form button {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .brands-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
